.addFileMenuError {
  margin: 8px;
  background: #ffbfbf;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #f00;
  font-size: var(--font-size-small);
}

.addFileMenuInput {
  flex: 1;
  font-size: var(--font-size-small);
}

.addFileMenuForm {
  display: flex;
  gap: 8px;
  margin: 8px;
  max-width: 300px;
}

.button.addFileMenuButton {
  margin: 12px;
  padding: 8px 16px;
  border-color: var(--accent);
  background-color: var(--accent);
  color: #fff;
  border-radius: 8px;
  opacity: 1;
}

.button.addFileMenuButton::before {
  content: "+ ";
}

.button.addFileMenuButton:hover:not(:disabled) {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}
