.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height)s;
  display: flex;
  border-bottom: 1px solid var(--line);
  box-shadow: 0 1px 2px #0000000a;
  background-color: #fff;
  align-items: center;
  line-height: 1;
  z-index: 1; /* Place above the contents */
  transition: transform 150ms;
}

.headerStart {
  flex: 1;
}

.headerPath {
  margin-left: 8px; 
}

.headerPath,
.headerTitle,
.headerPathBreadcrumbs {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  gap: var(--header-gap);
  
  & a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.headerPathBreadcrumbs {
  padding-block: var(--header-gap);
}

.headerPathHome {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.headerPathHomeIcon {
  width: 1.15em;
  height: 1.15em;
  flex-shrink: 0;
  background-color: var(--accent);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  /* webpackIgnore: true */
  mask-image: url('/svg/folder.svg');
}

.headerSiteNameTitle {
  padding-inline-start: 5px;
  font-weight: bold;
  font-weight: 600;
}

.headerSiteNameSuffix {
  opacity: 0.5;
  font-weight: normal;

}

.headerSlideIn {
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;
}

.headerSlideInAnimate {
  transition: width 200ms;
}

.headerSlideInContents {
  padding: 4px 8px;
  display: inline-flex;
  overflow: hidden;
}

.headerFloppyDiskLogo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin: 0 10px;
}

.headerFloppyDiskImg {
  width: 24px;
  height: 24px;
  margin-block: -5px;
}

.headerEnd {
  display: flex;
  flex-shrink: 0;
  padding: var(--header-gap);
  gap: var(--header-gap);
}

.headerStart {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.headerPathFull > a {
  color: #000;
}

.headerPathFull > a:hover {
  text-decoration: none;
}

.headerPathMobile {
  display: none;
  line-height: 0;
}

.headerPathBack {
  display: inline-block;
  width: 25px;
  height: 19px;
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  margin: 0;
  line-height: 0;
  position: relative;
  margin-left: 9px;
}

.headerPathBack::after {
  content: "";
  width: 7px;
  height: 7px;
  transform: rotate(225deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  top: 5px;
  position: absolute;
  left: 9px;
}

.headerFileStoreSelection {
  ---text-color: var(--accent);
  border: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;
  color: var(--accent);
  text-decoration: none;
  padding: 0px 11px 0px 4px;
  border-radius: 3px;
  height: 31px;
  text-wrap: nowrap;
}

/* The down arrow */
.headerFileStoreSelection::after {
content: "";
  border: solid var(---text-color);
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(45deg);
  position: relative;
  right: -5px;
  top: -3px;
}

.headerFileStoreSelection:hover {
  outline: 2px solid var(--accent-tint);
  background: var(--accent-tint);
}

.headerFileStoreSelection:active {
  outline: 2px solid var(--accent);
}

.headerFileStoreSelection:focus {
  outline: 2px solid #7c3aedaa;
}

.button.headerSaveFile {
  color: #fff;
  background-color: var(--accent);
  border: 1px solid var(--accent-strong);
}

@media (max-width: 500px) {
  .headerPathFull {
    display: none;
  }

  .headerPathMobile {
    display: block;
  }
}

@media print {
  .header {
     display: none;
  }
}
