.linkDropboxContent {
  max-width: 500px;
  margin: 20px;
  line-height: 1.4;
}

.linkDropboxForm {
  display: flex;
}

.linkDropboxInput {
  flex: 1;
  padding: 7px;
  margin-inline-end: 10px;
}

.linkDropboxSubmit {
  padding: 7px;
}

.linkDropboxConnect {
  display: block;
  padding: 10px;
  margin: 2em 0px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.linkDropboxConnect:hover {
  background-color: var(--primary-color-hover);
}

.linkDropbox {
  position: absolute;
  inset: var(--header-padding) 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkDropboxH1 {
  margin: 0;
}

.linkDropboxH2 {
  margin-top: 0;
  color: var(--text-border);
}

.linkDropboxAuth {
  animation: fadein 500ms;
}

@media (max-width: 1100px) {
  .linkDropboxEnd {
    width: 100%;
  }

  .linkDropboxEnd img {
    max-width: min(800px, calc(100% - var(--margin)));
    max-height: none;
    height: auto;
  }

  .linkDropboxEnd::before,
  .linkDropboxEnd::after {
    display: none;
  }
}
