.listFiles {
  display: flex;
  flex-direction: column;
  /* For some reason there was still an overflow without the -1px */
  min-height: calc(100vh - var(--header-height) - 1px);
}

.listFilesList,
.listFilesBlocks {
  flex: 1;
  overflow: auto;
}

.listFilesList {
  position: relative;

  &:focus-visible {
    outline: none;
  }
}

.listFilesBack {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #0002;
  border-radius: 3px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: #000;
}

.listFilesBack:hover {
  background: #0003;
}

.listFilesFilter {
  --gap: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: var(--gap);
  padding: var(--gap);
}

.listFilesFilterInput {
  font-size: var(--font-size-small);
  padding: 4px 9px;
  flex: 1;
  border: 1px solid #bbb;
  border-radius: 14px;
}

.listFilesIcon {
  margin-inline-end: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0001;
  border-radius: 3px;
  text-align: center;
  padding: 4px;

  img {
    width: 18px;
    height: 18px;
  }
}

.listFilesIconCached {
  outline: 1px solid #2a6bdb66;
}
.listFilesIconCached.listFilesFolder {
  outline: 1px solid #2a6bdbcc;
}

.listFilesFile {
  display: flex;
  border-bottom: 1px solid #ddd;
  position: relative;

  &.selected {
    background: var(--primary-color-dim);

    .listFilesList:focus-within & {
      background: var(--primary-color);
    }

    & a:hover {
      background: none;
    }

    & a.listFilesFileLink,
    & a.listFilesFileEmpty {
      color: #fff;
    }

    & .listFilesFolder {
      background-color: var(--accent-color);
    }

    & .listFilesIcon img {
      filter: invert(1);
    }

    & .listFilesFileMenuIcon {
      filter: invert(1);
    }
  }

  /* Create an inset pseudo element so the outline isn't cut off. */
  &.dragging {
    outline: none;

    &::after {
      content: "";
      inset: 2px;
      position: absolute;
      border: 2px solid var(--primary-color-hover);
      border-radius: 5px;
      pointer-events: none;
    }
  }

}

a.listFilesFileLink,
a.listFilesFileEmpty {
  padding: 8px;
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
  flex: 1;
}

a.listFilesFileEmpty {
  cursor: default;
}

.listFilesFile a:hover {
  background: #eee;
}

.listFilesBlocks {
  animation: fadein 500ms;
  height: calc(100% - var(--header-padding));
  top: var(--header-padding);
  position: absolute;
  width: 100%;
}

.listFilesFileBlock {
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.listFilesFileBlock::after {
  content: "";
  height: 12px;
  background-color: #eee;
  position: relative;
  display: block;
  width: 67%;
}

.listFilesFileBlock:nth-child(1) { opacity: 100%; }
.listFilesFileBlock:nth-child(2) { opacity: 90%; }
.listFilesFileBlock:nth-child(3) { opacity: 80%; }
.listFilesFileBlock:nth-child(4) { opacity: 60%; }
.listFilesFileBlock:nth-child(5) { opacity: 40%; }

.listFilesFileBlock:nth-child(1)::after { width: 70%; }
.listFilesFileBlock:nth-child(2)::after { width: 30%; }
.listFilesFileBlock:nth-child(3)::after { width: 60%; }
.listFilesFileBlock:nth-child(4)::after { width: 55%; }
.listFilesFileBlock:nth-child(5)::after { width: 24%; }

.listFilesExtension {
  opacity: 0.6;
}


.listFilesFileMenu {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-size: inherit;
  line-height: 0;
  position: relative;

  &:hover {
    border-right: 8px solid #fff;
    background-color: #eee;

    & .listFilesFileMenuIcon {
      margin-inline-end: 10px;
    }
  }
  .selected &:hover {
    border-color: transparent;
    background-color: transparent;
    background: #ffffff33;
  }

  .selected &:hover::after {
    display: none;
  }

  .file-menu-focused .selected &::after {
    content: "";
    inset: 9px 13px 9px 5px;
    pointer-events: none;
    border-radius: 3px;
    outline: 2px solid #fff;
    position: absolute;
  }

}

.listFilesFileMenuIcon {
  display: inline-block;
  /* webpackIgnore: true */
  background-image: url(/svg/three-dots.svg);
  width: 16px;
  height: 16px;
  margin-inline: 10px 18px;
}

.listFileDisplayName {
  flex: 1;
}

.listFileRename {
  flex: 1;
  display: flex;
  gap: 5px;
}

.listFileRenameInput {
  flex: 1;
  font-size: 16px;
  padding: 2px;
}

.listFilesFolder {
  background-color: var(--accent-color-light);
}
