.messages {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: flex-end;
  pointer-events: none;
}

.messagesMessage {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 8px 8px 14px;
  background: #262626;
  color: #fff;
  border-radius: var(--button-border-radius);
  box-shadow: 0 4px 16px #00000040;
  margin: 7px;
  font-size: var(--font-size-small);
  animation: fadein 200ms;
}

@media (min-width: 900px) {
  .messagesMessage {
    padding: 12px 12px 12px 18px;
  }
}

.messagesMessageText {
  max-width: 420px;
}

.messagesDismissButton {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  padding: 4px;
  border: 0;
  background: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.messagesDismissButton:hover {
  background: #ffffff26;
  opacity: 1;
}

.messagesDismissButton:focus {
  outline: var(--outline-focus);
  opacity: 1;
}

.messagesDismissButton > img {
  width: var(--icon-size);
  height: var(--icon-size);
  filter: invert(1);
}
