.nextPrev {
  display: none;
}

@media (hover: hover) {
  .nextPrev {
    touch-action: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: var(--page-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms;
    background: linear-gradient(var(--rotation), #004eca55 0%, #004eca00 100%);
  }

  .nextPrev:hover,
  .nextPrev:focus {
    opacity: 1;
    background: linear-gradient(var(--rotation), #004eca55 0%, #004eca00 100%);
  }
}

@media (max-width: 500px) {
  .nextPrev {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nextPrev {
    width: calc(
      (50% - (var(--page-max-width) / 2) - var(--page-padding)) / 2
    );
  }
}

.nextPrevNext {
  right: 0;
  --rotation: 270deg;
}

.nextPrevBack {
  left: 0;
  --rotation: 90deg;
}

.nextPrev::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc();
  border: 2px solid #000;
  border-right: none;
  border-top: none;
}

.nextPrevBack::after {
  transform: translateX(7px) rotate(45deg);
}

.nextPrevNext::after {
  transform: translateX(-7px) rotate(-135deg);
}
