.page {
  width: 100%;
  justify-content: center;
  display: flex;
  line-height: 1.4;
}

.page .button {
  font-size: var(--font-size-normal);
  padding: 0.2em 0.5em;
}

.pageInner {
  width: 100%;
  margin: 40px;
}

.pageInner > h1:first-child,
.pageInner > h2:first-child,
.pageInner > h3:first-child,
.pageInner > h4:first-child {
  margin-top: 0;
}

@media (min-width: 900px) {
  .pageInner {
    max-width: var(--page-max-width);
  }
}

.pageButtonList {
  flex-direction: column;
  display: flex;
  gap: 1em;
  max-width: 18em;
  margin: 3em auto;
  .button {
    padding: 0.6em;
  }
}

.pageBeta {
  text-transform: uppercase;
  margin: 0 0.5em;
  font-size: 0.5em;
  padding: 0.6em 0.5em 0.5em;
  display: inline-block;
  background: #ccc;
  border-radius: 0.5em;
  line-height: 0.7;
  position: relative;
  top: -0.3em;
}

.pageButtonBeta {
  text-transform: uppercase;
  margin: 0 0.5em;
  font-size: 0.5em;
  padding: 0.6em 0.5em 0.5em;
  display: inline-block;
  background: #ccc;
  border-radius: 0.5em;
  line-height: 0.7;
  position: relative;
  top: -0.1em;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.7em;
}
