.splitterSolo {
  height: 100%;
}

.splitterSolo,
.splitterSplit {
  /* Below the menu */
  z-index: 0;
  position: relative;
}

.splitterSplit {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  animation: fadein 200ms;
}

.splitterSplit > * {
  position: absolute;
  top: 0;
  height: 100%;
}

.splitterSplitMiddle {
  cursor: grab;
  z-index: 1;
  display: flex;
}

.splitterSplitMiddle.dragging {
  cursor: grabbing;
}

.splitterSplitMiddleVisible {
  height: 100%;
  background: #bbb;
  flex: 1;
}

.splitterSplitMiddle:hover {
  background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
}

.splitterSplitMiddle:hover .splitterSplitMiddleVisible {
  background: #aaa;
}

.splitterSplitStart {
  width: calc(50% - 0px);
  left: 0;
}

.splitterSplitEnd {
  right: 0;
  overflow: auto;
}

@media print {
  /* Do not print the splitter */
  .splitterSplitStart,
  .splitterSplitMiddle {
    display: none;
  }

  .splitterSplitEnd {
    width: 100% !important;
  }
}
