.splitterSolo {
  height: 100%;
}

.splitterSolo,
.splitterSplit {
  /* Below the menu */
  z-index: 0;
  position: relative;
}

.splitterSplit {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  animation: fadein 200ms;
}

.splitterMiddle {
  cursor: grab;
  z-index: 1;
  display: flex;
}

.splitterMiddle.dragging {
  cursor: grabbing;
}

[data-direction="vertical"] .splitterMiddle {
  cursor: ns-resize;
  flex-direction: column;
}

.splitterMiddleVisible {
  flex: 1;
  background: #bbb;
}

[data-direction="horizontal"] .splitterMiddle:hover {
  background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
}

[data-direction="vertical"] .splitterMiddle:hover {
  background: linear-gradient(180deg, transparent 0%, #fff 50%, transparent 100%);
}

.splitterMiddle:hover .splitterMiddleVisible {
  background: #aaa;
}

.splitterSplitEnd {
  overflow: auto;
}

@media print {
  /* Do not print the splitter */
  .splitterSplitStart,
  .splitterSplitMiddle {
    display: none;
  }

  .splitterSplitEnd {
    width: 100% !important;
  }
}
