.textArea,
.textAreaMount {
  width: 100%;
  height: 100%;
}

.textArea {
  display: flex;
  flex-direction: column;
}

.textAreaHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  background: #fff;
  justify-content: end;
}

.textAreaHeaderDismiss,
.textAreaHeaderToggle {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: 1px solid #bfb8b2;
  border-radius: 6px;
  background-color: #f7f4f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  font-size: 0;
  cursor: pointer;
  position: relative;
}

.textAreaHeaderToggle {
  background-image: url("/data/common/svg/caret-right-to-line.svg");
}

.textAreaHeaderToggleEditorOnly {
  background-image: url("/data/common/svg/caret-left-to-line.svg");
}

.textAreaHeaderDismiss {
  background-image: url("/data/common/svg/xmark.svg");
}

.textAreaHeaderDismiss:hover,
.textAreaHeaderToggle:hover {
  background-color: #eee7e3;
}

.textAreaMount {
  flex: 1 1 auto;
}

.textAreaTextArea {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 0;
  outline: 0;
  padding: 10px;
  resize: none;
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-size-editor);
  background: linear-gradient(270deg, #ddd7d3 0px, #f3efed 60px);
}

.cm-wrap, .cm-editor { height: 100% }
.cm-scroller { overflow: auto }
.cm-content {
  padding-top: 8px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* padding bottom is handled by scrollPastEnd */
  font-size: var(--font-size-editor);
}
.cm-line {
  padding: 0 20px !important;
}

/* Increase the selector specificity to get over the built-in codemirror rules. */
:root {
  & .cm-tooltip.cm-tooltip-autocomplete {
    font-size: var(--font-size-editor);
    box-shadow: var(--modal-shadow);
    border-radius: var(--modal-radius);
    border-color: var(--modal-border-color);
    background: var(--modal-background);
  }

  & .cm-tooltip-autocomplete ul li[aria-selected] {
    background: var(--primary-color-dim);
  }

  & .cm-tooltip.cm-tooltip-autocomplete > ul > li {
      line-height: 1.5;
  }
}
