.viewChoproHeaderContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.viewChoproSongInfoButton {
  border: 1px solid #bfb8b2;
  border-radius: 6px;
  background-color: #f7f4f2;
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
}

.viewChoproSongInfoButton:hover {
  background-color: #eee7e3;
}

.viewChoproSongInfoMenu {
  position: absolute;
  z-index: 10;
  background: #fff;
  border: 1px solid #bfb8b2;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  padding: 15px;
  width: 290px;
  display: grid;
  gap: 8px;
  font-size: var(--font-size-small);
}

.viewChoproSongInfoGroup {
  display: grid;
  gap: 8px;
}

.viewChoproSongInfoGroupTitle {
  --spacing: 8px;
  margin-top: var(--spacing);
  padding-bottom: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
  
  border-bottom: 1px solid #ccc;
}

.viewChoproSongInfoRow {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 8px;
}

.viewChoproSongInfoLabel {
  text-align: right;
}

.viewChoproSongInfoInput {
  border: 1px solid #bfb8b2;
  border-radius: 6px;
  padding: 6px 8px;
}

.viewChoproSongInfoSelect {
  border: 1px solid #bfb8b2;
  border-radius: 6px;
  padding: 4px 6px;
}
