@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body, .appRoot {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.appView {
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.appViewMenu {
  border-bottom: 1px solid #ddd;
  padding: 9px;
}

.appViewContents {
  flex: 1;
  overflow-y: auto;
}

.appViewMenu {
  display: flex;
}

.appViewMenuStart {
  flex: 1;
}
