:root {
  --header-padding: 41px;
  --header-gap: 9px;
  --header-transform-y: -50px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
  --font-size-song: 14px;
  /* Grep for media queries if changing */
  --page-max-width: 900px;
  --page-padding: 50px;
  --icon-size: 16px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeindelay {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100%   { opacity: 1; }
}

html,
body,
.appRoot,
.appView {
  position: absolute;
  inset: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: var(--font-size-normal);
}

a {
  color: #004eca;
}

.button,
.ͼ2 .cm-button {
  margin: 0;
  padding: 0.2em 0.5em;
  display: inline-block;
  border: 1px solid #888;
  color: #000;
  background-color: #eee;
  border-radius: 4px;
  font-size: var(--font-size-small);
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;
  line-height: 1.2;
  font-family: sans-serif;
}

button.icon {
  background-color: transparent;
}

button.icon,
button.icon-mask {
  border: none;
  padding: 0;
  margin: 0;
}

.button:active,
.ͼ2 .cm-button:active {
  outline: 2px solid #0040ff;
}

.button:focus,
.ͼ2 .cm-button:focus {
  outline: 2px solid #0040ffaa;
}

.button:hover,
.ͼ2 .cm-button:hover {
  opacity: 1;
}

.button:disabled,
.ͼ2 .cm-button:disabled {
  opacity: 0.6;
}

.button-primary {
  border-color: #004eca;
  background-color: #004eca;
  color: #fff;
}

.button-primary:active,
.button-primary:focus {
  border-color: #fff;
}

.missing-image {
  background: #fdd;
  display: inline-block;
  padding: 7px;
  border-radius: 5px;
}

code {
  padding: 0 4px;
  background-color: #eee;
  border: 1px solid 1px solid #00000033;
  border-radius: 3px;
}

.centered {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

@media all and (display-mode: fullscreen) {
  [data-fullscreen] {
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    overflow-y: scroll;
  }
}

/**
 * Display a status to the user like "Download file failed" or "Loading file"
 */
.status {
  inset: var(--header-padding) 0 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 1000ms;
}

.appView {
  padding-top: var(--header-padding);
}

.appViewContents {
  position: relative; /* create a stacking context */
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* place this below the header */
}

.appViewError {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size) var(--icon-size);
}

.icon-mask {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: currentColor;
  mask-size: var(--icon-size);
  color: inherit;
}

[data-icon="pencil-fill"] {
  /* webpackIgnore: true */
  background-image: url("/svg/pencil-fill.svg");
}

[data-icon="box-arrow-in-right"] {
  /* webpackIgnore: true */
  background-image: url("/svg/box-arrow-in-right.svg");
}

[data-icon="trash-fill"] {
  /* webpackIgnore: true */
  background-image: url("/svg/trash-fill.svg");
}

[data-icon="download"] {
  /* webpackIgnore: true */
  background-image: url("/svg/download.svg");
}

[data-icon-mask="play"] {
  /* webpackIgnore: true */
  mask-image: url("/svg/play.svg");
}

[data-icon-mask="pause"] {
  /* webpackIgnore: true */
  mask-image: url("/svg/pause.svg");
}
