.header {
  position: relative; /* create a stacking context */
  z-index: 1; /* position above the appViewContents */
  padding: 9px;
  display: flex;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 7px #00000045;
}

.headerStart {
  flex: 1;
}

.headerActiveFile > * {
  margin-inline-end: 9px;
  display: inline-block;
}

.headerActiveFile > a {
  color: #000;
}

.headerActiveFile > a:hover {
  text-decoration: none;
}
