.header {
  padding: 9px;
  display: flex;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 7px #00000045;
  background-color: #fff;
}

.headerWrapper {
  position: relative;
  overflow: visible;
  height: 0;
  z-index: 1; /* Place above the contents */
  transition: transform 150ms;
}

.headerStart {
  flex: 1;
}

.headerPath, .headerPathFull {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerEnd {
  flex-shrink: 0;
}

.headerStart {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.headerPathFull > * {
  margin-inline-end: 9px;
  display: inline-block;
}

.headerPathFull > a {
  color: #000;
}

.headerPathFull > a:hover {
  text-decoration: none;
}

.headerPathMobile {
  display: none;
  line-height: 0;
}

.headerPathBack {
  display: inline-block;
  width: 25px;
  height: 19px;
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  margin: 0;
  line-height: 0;
  position: relative;
}

.headerPathBack::after {
  content: "";
  width: 7px;
  height: 7px;
  transform: rotate(225deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  top: 5px;
  position: absolute;
  left: 9px;
}

.button.headerSaveFile {
  color: #fff;
  background-color: #0070ff;
  border: 1px solid #004195;
  margin-inline: 6px;
}

@media (max-width: 500px) {
  .headerPathFull {
    display: none;
  }

  .headerPathMobile {
    display: block;
  }
}
