.linkDropbox {
  max-width: 500px;
  margin: 20px;
  line-height: 1.4;
}

.linkDropboxForm {
  display: flex;
}

.linkDropboxInput {
  flex: 1;
  padding: 7px;
  margin-inline-end: 10px;
}

.linkDropboxSubmit {
  padding: 7px;
}

.linkDropboxConnect {
  display: block;
  padding: 10px;
  margin: 2em 0px;
  color: #fff;
  background-color: #0062ff;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.linkDropboxConnect:hover {
  background-color: #004eca;
}


.linkDropboxHome {
  inset: 0;
  position: absolute;
  display: flex;
}

.linkDropboxBegin {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkDropboxEnd {
  width: 60%;
  position: relative;
}

.linkDropboxScroller {
  overflow: auto;
  display: flex;
  height: 100%;
}

.linkDropboxEnd img {
  --margin: 50px;
  max-height: calc(100% - var(--margin) * 2);
  border-radius: 4px;
  box-shadow: 2px 5px 20px #00000061;
  outline: 2px solid #888;
  margin: var(--margin);
  animation: fadein 500ms;
  width: auto;
}

.linkDropboxEnd::before,
.linkDropboxEnd::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 1;
}

.linkDropboxEnd::before {
  left: 0;
  background: linear-gradient(90deg, #ffffffff 0%, #ffffff00 100%);
}

.linkDropboxEnd::after {
  right: 0;
  background: linear-gradient(90deg, #ffffff00 0%, #ffffffff 100%);
}

.linkDropboxH1 {
  margin: 0;
}

.linkDropboxH2 {
  margin-top: 0;
  color: #555;
}

@media (max-width: 1100px) {
  .linkDropboxHome {
    flex-direction: column;
  }

  .linkDropboxBegin {
    width: 100%;
  }

  .linkDropboxEnd {
    width: 100%;
  }

  .linkDropboxScroller {
    height: auto;
    width: ;
    flex-direction: column;
    align-items: center;
  }

  .linkDropboxEnd img {
    max-width: min(800px, calc(100% - var(--margin)));
    max-height: none;
    height: auto;
  }

  .linkDropboxHome {
    overflow: auto;
  }

  .linkDropboxEnd::before,
  .linkDropboxEnd::after {
    display: none;
  }
}
