.linkDropbox {
  max-width: 500px;
  margin: 20px;
  line-height: 1.4;
}

.linkDropboxForm {
  display: flex;
}

.linkDropboxInput {
  flex: 1;
  padding: 7px;
  margin-inline-end: 10px;
}

.linkDropboxSubmit {
  padding: 7px;
}

.linkDropboxConnect {
  display: block;
  padding: 10px;
  margin: 1em 0px;
  color: #fff;
  background-color: #0062ff;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.linkDropboxConnect:hover {
  background-color: #004eca;
}

.linkDropboxUnlink {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
}
