.linkViewContent {
  max-width: 500px;
  margin: 20px;
  line-height: 1.4;
}

.linkViewForm {
  display: flex;
}

.linkViewInput {
  flex: 1;
  padding: 7px;
  margin-inline-end: 10px;
}

.linkViewSubmit {
  padding: 7px;
}

.linkViewConnect {
  display: block;
  padding: 10px;
  margin: 2em 0px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  border: 0;
  font-size: inherit;
}

button[type=submit].linkViewConnect {
  width: 100%;
  margin: 1em 0;
}

.linkViewConnect:hover {
  background-color: var(--primary-color-hover);
}

.linkViewConnect:active {
  background-color: var(--primary-color-hover);
  outline: var(--outline-active);
}


.linkView {
  position: absolute;
  inset: var(--header-padding) 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkViewH1 {
  margin: 0;
}

.linkViewH2 {
  margin-top: 0;
  color: var(--text-border);
}

.linkViewAuth {
  animation: fadein 500ms;
}

.linkViewForm {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.linkViewForm input {
  padding: 0.5em;
}

.linkViewForm label {
  margin-top: 1em;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .linkViewEnd {
    width: 100%;
  }

  .linkViewEnd img {
    max-width: min(800px, calc(100% - var(--margin)));
    max-height: none;
    height: auto;
  }

  .linkViewEnd::before,
  .linkViewEnd::after {
    display: none;
  }
}
