.listFiles {
  display: flex;
  flex-direction: column;
}

.listFilesList,
.listFilesBlocks {
  flex: 1;
  overflow: auto;
}

.listFilesBack {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #0002;
  border-radius: 3px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: #000;
}

.listFilesBack:hover {
  background: #0003;
}

.listFilesFilter {
  --gap: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: var(--gap);
  padding: var(--gap);
}

.listFilesFilterInput {
  font-size: var(--font-size-small);
  padding: 4px 9px;
  flex: 1;
  border: 1px solid #bbb;
  border-radius: 14px;
}

.listFilesIcon {
  margin-inline-end: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0001;
  border-radius: 3px;
  text-align: center;
  padding: 4px;
}

.listFilesFile {
  display: flex;
  border-bottom: 1px solid #ddd;
}

a.listFilesFileLink, .listFilesFileEmpty {
  padding: 8px;
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
  flex: 1;
}

.listFilesFile a:hover {
  background: #eee;
}

.listFilesBlocks {
  animation: fadein 500ms;
  height: calc(100% - var(--header-padding));
  top: var(--header-padding);
  position: absolute;
  width: 100%;
}

.listFilesFileBlock {
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.listFilesFileBlock::after {
  content: "";
  height: 12px;
  background-color: #eee;
  position: relative;
  display: block;
  width: 67%;
}

.listFilesFileBlock:nth-child(1) { opacity: 100%; }
.listFilesFileBlock:nth-child(2) { opacity: 90%; }
.listFilesFileBlock:nth-child(3) { opacity: 80%; }
.listFilesFileBlock:nth-child(4) { opacity: 60%; }
.listFilesFileBlock:nth-child(5) { opacity: 40%; }

.listFilesFileBlock:nth-child(1)::after { width: 70%; }
.listFilesFileBlock:nth-child(2)::after { width: 30%; }
.listFilesFileBlock:nth-child(3)::after { width: 60%; }
.listFilesFileBlock:nth-child(4)::after { width: 55%; }
.listFilesFileBlock:nth-child(5)::after { width: 24%; }

.button.listFilesCreate {
  margin: 8px;
}

.listFilesCreateEditorInput {
  flex: 1;
  font-size: var(--font-size-small);
}

.listFilesCreateEditor {
  display: flex;
  gap: 8px;
  margin: 8px;
  max-width: 300px;
}

.listFilesCreateError {
  margin: 8px;
  background: #ffbfbf;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #f00;
  font-size: var(--font-size-small);
}

.listFilesExtension {
  opacity: 0.6;
}


.listFilesFileMenu {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-size: inherit;
  line-height: 0;
}

.listFilesFileMenu:hover {
  background-color: #eee;
}

.listFilesFileMenuIcon {
  display: inline-block;
  background-image: url(svg/three-dots.svg);
  width: 16px;
  height: 16px;
  margin-inline: 10px 18px;
}
