.listFiles {
  animation: fadein 150ms;
}

.listFilesIcon {
  margin-inline-end: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #0001;
  border-radius: 3px;
  text-align: center;
  padding: 4px;
}

.listFilesFile a, .listFilesFileEmpty {
  padding: 8px;
  display: block;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #000;
}

.listFilesFile a:hover {
  background: #eee;
}

.listFilesFileBlock {
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.listFilesFileBlock::after {
  content: "";
  height: 12px;
  background-color: #eee;
  position: relative;
  display: block;
  width: 67%;
}

.listFilesFileBlock:nth-child(1)::after { width: 70%; }
.listFilesFileBlock:nth-child(2)::after { width: 30%; }
.listFilesFileBlock:nth-child(3)::after { width: 60%; }
.listFilesFileBlock:nth-child(4)::after { width: 55%; }
.listFilesFileBlock:nth-child(5)::after { width: 24%; }
