.messages {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: flex-end;
  z-index: 1; /* stack above appView */
}

.messagesMessage {
  padding: 8px 14px;
  background-color: #bed7ff;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 7px;
  animation: fadein 500ms;
}

.messagesMessage button {
  background: #fff;
  display: inline-block;
  margin-inline-start: 14px;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: var(--font-size-small);
  border: 1px solid #8c8c8c;
}

.messagesMessage button:hover {
  background-color: #eee;
}
