.page {
  overflow: auto;
  height: calc(100% - var(--header-padding));
  width: 100%;
  justify-content: center;
  display: flex;
  line-height: 1.4;
  padding-top: var(--header-padding);
}

.page .button {
  font-size: 15px;
  padding: 0.2em 0.5em;
}

.pageInner {
  width: 100%;
  margin: 40px;
}

.pageInner > h1:first-child,
.pageInner > h2:first-child,
.pageInner > h3:first-child,
.pageInner > h4:first-child {
  margin-top: 0;
}

@media (min-width: 900px) {
  .pageInner {
    max-width: 900px;
  }
}
