.renderedSong {
  padding: 50px;
  /**
   * The end padding was being applied inconsistantly between browsers
   * See .renderedSongEndPadding
   */
  padding-bottom: 0;
  margin: 0 auto;
  max-height: calc(100% - 50px);
  font-size: var(--font-size-song);
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 500px) {
  .renderedSong {
    padding: 10px;
  }
}

.viewFileSplit .renderedSong {
  box-shadow: -20px 0 20px #00000012;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.renderedSongHeader {
  display: flex;
  /* Leave space for the sticky header */
  margin-inline-end: 70px;
}

.renderedSongHeaderTitle {
  flex: 1;
}

.renderedSongHeaderTitle h1, .renderedSongHeaderTitle h2 {
  margin: 0;
  margin-bottom: 6px;
}

.renderedSongHeaderTitle h1 {
  font-size: 1.7em;
  display: flex;
  align-items: center;
}

.renderedSongHeaderTitleSpan {
  flex: 1;
}

.renderedSongHeaderTitle h2 {
  font-size: 1.2em;
  color: #555;
}

.renderedSongLine {
  position: relative; /* create a stacking context for the chords. */
}

.renderedSongSpace {
  height: 1.5em;
}

.renderedSongImage {
  max-width: 100%;
}

.renderedSongLine-chords {
  margin: 3px 0;
}

.renderedSongLine-mixed {
  padding-top: 0;
  max-width: 100%;
  line-height: 2.7;
  position: relative;
  top: 0.5em;
}

.renderedSongLine-mixed .renderedSongLineChord {
  position: relative;
  top: -17px;
  width: 0;
  display: inline-block;
  white-space: nowrap;
}

.renderedSongLineChordExtras {
  font-weight: normal;
}

.renderedSongLine-chords .renderedSongLineChord {
  /* Maybe restore this, spacing was weird. */
  /* margin-inline-end: 5px;
  min-width: 35px; */
  display: inline-block;
}

.renderedSongLineChord {
  font-weight: bold;
}

.renderedSongSection {
  color: #666;
  margin: 1.2em 0;
}

.renderedSongLineText {
  white-space: pre-wrap;
}

.renderedSongStickyHeader {
  margin-left: 15px;
  text-align: right;
  position: sticky;
  top: var(--header-padding);
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.renderedSongStickyHeaderRow {
  background: #fff;
  padding: 7px;
  padding-inline-end: 0;
}

.renderedSongEndPadding {
  height: 50px;
}

.renderedSongEdit {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: var(--font-size-song);
}

a.renderedSongHeaderSpotify {
  margin-inline: 1em;
  background-color: #1ed760;
  padding: 0.3em 0.5em 0.2em;
  border-color: #138e3f;
}

@media (min-width: 900px) {
  .viewChoproSolo .renderedSong {
    min-width: 800px;
    max-width: 900px;
  }
}
