.renderedSong {
  padding: 50px;
  /**
   * The end padding was being applied inconsistantly between browsers
   * See .renderedSongEndPadding
   */
  padding-bottom: 0;
  max-height: calc(100% - 50px);
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

.viewFileSplit .renderedSong {
  box-shadow: -20px 0 20px #00000012;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.renderedSongHeader {
  display: flex;
}

.renderedSongHeaderTitle {
  flex: 1;
}

.renderedSongHeaderTitle h1, .renderedSongHeaderTitle h2 {
  margin: 0;
  margin-bottom: 6px;
}

.renderedSongHeaderTitle h1 {
  font-size: 1.7em;
}

.renderedSongHeaderTitle h2 {
  font-size: 1.2em;
  color: #555;
}

.renderedSongLine {
  position: relative; /* create a stacking context for the chords. */
}

.renderedSongLine-chords {
  margin: 3px 0;
}

.renderedSongLine-mixed {
  padding-top: 20px;
}

.renderedSongLine-mixed .renderedSongLineChord {
  position: absolute;
  top: 3px;
}

.renderedSongLine-chords .renderedSongLineChord {
  /* Maybe restore this, spacing was weird. */
  /* margin-inline-end: 5px;
  min-width: 35px; */
  display: inline-block;
}

.renderedSongLineChord {
  font-weight: bold;
}

.renderedSongSection {
  color: #666;
}

.renderedSongLineText {
  white-space: pre;
}

.renderedSongHeaderDetails {
  margin-left: 15px;
  padding-top: 7px;
  text-align: right;
}

.renderedSongEndPadding {
  height: 50px;
}

.renderedSongEdit {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  margin: 10px 0;
}
