.textArea,
.textAreaMount {
  width: 100%;
  height: 100%;
}

.textAreaTextArea {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 0;
  outline: 0;
  padding: 10px;
  resize: none;
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-size-song);
  background: linear-gradient(270deg, #ddd7d3 0px, #f3efed 60px);
}

.textAreaDismiss {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 8px;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 0px;
  box-shadow: -1px 1px 3px #0003;
  /* Place this over the text area. */
  z-index: 1;
}

.textAreaDismiss::after,
.textAreaDismiss::before {
  content: "";
  height: 0;
  width: 18px;
  top: 13px;
  left: 5px;
  border-bottom: 2px solid #000;
  position: absolute;
  transform: rotate(45deg);
}

.textAreaDismiss::before {
  transform: rotate(-45deg);
}

.cm-wrap, .cm-editor { height: 100% }
.cm-scroller { overflow: auto }
.cm-content {
  padding: 20px 0 !important;
  font-size: 14px;
}
.cm-line {
  padding: 0 20px !important;
}
