.viewPDFSolo {
  overflow: auto;
  height: calc(100% - var(--header-padding));
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: var(--header-padding);
}

.viewPDFSoloWidth {
  max-width: 1000px;
}

.viewPDFSoloCanvas {
  max-width: 100%;
}
