.viewFileTextArea {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 0;
  outline: 0;
  padding: 10px;
  resize: none;
}

.viewFileSplit {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.viewFileSplit > * {
  position: absolute;
  top: 0;
  height: 100%;
}

.viewFileSplitMiddle {
  cursor: grab;
  z-index: 1;
  display: flex;
}

.viewFileSplitMiddle.dragging {
  cursor: grabbing;
}

.viewFileSplitMiddleVisible {
  height: 100%;
  background: #ccc;
  flex: 1;
}

.viewFileSplitMiddleVisible:hover {
  background: #aaa;
}

.viewFileSplitStart {
  width: calc(50% - 0px);
  left: 0;
}

.viewFileSplitEnd {
  right: 0;
}
