.viewChoproSplit {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  animation: fadein 200ms;
}

.viewChoproSplit > * {
  position: absolute;
  top: 0;
  height: 100%;
}

.viewChoproSplitMiddle {
  cursor: grab;
  z-index: 1;
  display: flex;
}

.viewChoproSplitMiddle.dragging {
  cursor: grabbing;
}

.viewChoproSplitMiddleVisible {
  height: 100%;
  background: #bbb;
  flex: 1;
}

.viewChoproSplitMiddle:hover {
  background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
}

.viewChoproSplitMiddle:hover .viewChoproSplitMiddleVisible {
  background: #aaa;
}

.viewChoproSplitStart {
  width: calc(50% - 0px);
  left: 0;
}

.viewChoproSplitEnd {
  right: 0;
  overflow: auto;
}

.viewChoproMessage, .viewChoproError {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
}

.viewChoproMessage {
  animation: fadeindelay 1500ms;
}
