.mediaAudio {
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
  background: #fff;
}

.mediaAudio.active {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mediaVideo {
  width: 100%;
  background: #666;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 5px;
}

.mediaMissing {
  background: #333;
  color: #fff;
  padding: 12px;
  border-radius: 15px;
  margin: 3px 0;
}

.mediaImage {
  max-width: 100%;
}

.mediaAudioControls {
  display: flex;
  justify-content: end;
  gap: 10px;
  background: #000a;
  padding: 5px 10px;
  border-radius: 13px;
  color: #fff;
  align-items: center;
  transition: border-radius 200ms;
}

.mediaAudioControlsPlay:hover {
  color: #fff;
}

.mediaAudioControlsPlay {
  cursor: pointer;
  flex-shrink: 0;
  --icon-size: 20px;
  background: none;
  border: none;
  padding: 10px 15px;
  line-height: 0;
  color: #ddd;
  margin: -5px -10px;
}

.mediaAudioControlsDuration {
  flex-shrink: 0;
}

.mediaAudioControlsSpacer {
  flex: 1;
}

.mediaAudio {
  --wave-height: 100px;
  --scrubber-height: 3px;
}

.mediaAudioWave {
  position: relative;
  overflow: hidden;
  transition: height 200ms;
  height: calc(var(--wave-height) + var(--scrubber-height));
  line-height: 0;
  user-select: none;
}

.mediaAudio[data-load-requested=false] .mediaAudioWave {
  height: 0;
}

.mediaAudio[data-load-requested=true] .mediaAudioControls {
  border-radius: 0 0 13px 13px;
}

.mediaAudioScrubberHoverPosition,
.mediaAudioScrubberPlayPosition {
  top: 0;
  position: absolute;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  left: -10px;
  pointer-events: none;
}

.mediaAudioScrubberHoverPosition {
  background-color: #000;
}

.mediaAudioScrubberPlayPosition {
  background-color: #fff;
  box-shadow: 0 0 3px #ce1ebb55, 0 0 3px #ce1ebb55;
}

.mediaAudioScrubberHorizontalLine {
  position: relative;
  height: var(--scrubber-height);
  background: #000;
}

.mediaAudioScrubberHorizontalLine div {
  height: 100%;
  background: #ff37e9;
  width: 0;
}
