.lcLearned {
  max-width: var(--lc-content-width);
  margin: var(--lc-margin-big) auto;
  line-height: var(--lc-line-height);
}

.lcLearnedIntro {
  /* This is only to match the margin collapse behavior of other panels. */
  display: flex;
}

.lcLearnedTextArea {
  width: 100%;
  height: 75vh;
}
