.language-coach {
  --accent-color: #6a72fb;
  /* For use with transparency. */
  --accent-color-rgb: 84, 92, 251;

  --outline-active: 2px solid #282ea6;
  --outline-focus: 2px solid #282ea6aa;

  --lc-header-height: 56px;

  --lc-content-width: 700px;
  --lc-line-height: 1.4;
  --lc-margin-big: 50px;
  --lc-margin-medium: 25px;
  --lc-margin-small: 10px;

  /**
   * The sticky header needs to be moved up a bit to not be over the title text.
   * This only applies to the reading material page.
   */
  --lc-sticky-header-adjust: 16px;


  height: 100%;
  width: 100%;
  position: relative;

  .splitterSplit {
    height: calc(100% - var(--lc-header-height));
  }

  * {
    scroll-margin-top: var(--header-height);
  }
  .lcReadingSelectedSentence {
    scroll-margin-top: calc(var(--header-height) * 2);
  }
}

a.lcButton,
.lcButton {
  text-decoration: none;
  padding: 0.7em 1.7em;
  border-radius: 3em;
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  transition: background 0.1s;
  box-shadow: 0 0.3em 0.6em #0003;
}

.lcButton:hover:not(:disabled) {
  background-color: #545cfb;
}

.lcButton:active:not(:disabled) {
  outline: var(--outline-active);
}

.lcButton:focus {
  outline: var(--outline-focus);
}


.lcButton:hover {
  opacity: 1;
}

.lcButton:disabled {
  cursor: default;
  opacity: 0.6;
}
